<!--#?widgetHeader-->
<div class="mdl-cell mdl-cell--12-col drag-handle-holder drag-handle"><i class="material-icons drag-handle">drag_handle</i></div>
<div class="mdl-cell--8-col widget-type mdl-cell--order-2-desktop mdl-cell--4-col-desktop">{{ name }}</div>
<!--#?end-->

<!--#?widgetExtra-->
<div class="form-extra mdl-cell mdl-cell--12-col mdl-cell--order-4 mdl-grid">
    <div class="mdl-cell--4-col mdl-cell--middle">
        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="required-{{ id }}">
            <input type="checkbox" id="required-{{ id }}" name="required" class="mdl-switch__input" checked>
            <span class="mdl-switch__label">Required</span>
        </label>
    </div>
    <div class="mdl-cell--8-col mdl-cell--middle form-extra-items">
        <a onclick="deleteWidget({{ id }})"><i class="material-icons">delete</i></a>
        <i class="material-icons">more_vert</i>
    </div>
</div>
<!--#?end-->

<!--#?widgetMeta-->
<input type="hidden" name="type" value="{{ type }}">
<div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--8-col mdl-cell--order-1">
    <input class="mdl-textfield__input" type="text" id="{{ type }}-title-{{ id }}" name="title">
    <label class="mdl-textfield__label" for="{{ type }}-title-{{ id }}">{{ name }} Title</label>
</div>
<div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--12-col mdl-cell--order-3">
    <input class="mdl-textfield__input" type="text" id="{{ type }}-description-{{ id }}" name="description">
    <label class="mdl-textfield__label" for="{{ type }}-description-{{ id }}">{{ name }} Description</label>
</div>
<!--#?end-->
