<form action="#" class="form-part mdl-grid" id="form-part-{{ id }}">
    <div class="mdl-cell mdl-cell--12-col drag-handle-holder drag-handle"><i class="material-icons drag-handle">drag_handle</i></div>
    <div class="mdl-cell--8-col widget-type mdl-cell--order-2-desktop mdl-cell--4-col-desktop">
        <select class="multi-selector" name="select-type">
            <option value="checkbox">Checkboxes</option>
            <option value="radio">Radio</option>
            <option value="dropdown">Dropdown</option>
        </select>
    </div>
    {{> widgetMeta name="Multi Field" type="multifield" }}
    <ul id="choices-list-{{ id }}" class="mdl-list mdl-cell--12-col choices-list mdl-cell--order-3">
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <i class="material-icons">check_box</i>
                <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--4-col">
                    <input class="mdl-textfield__input" type="text" name="choice-1" id="multifield-choice-{{ id }}-1">
                    <label class="mdl-textfield__label" for="multifield-choice-{{ id }}-1">Choice</label>
                </div>
                <button class="mdl-button mdl-js-button mdl-button--icon delete-choice" onclick="deleteChoice(this)" disabled>
                    <i class="material-icons">clear</i>
                </button>
            </span>
        </li>
    </ul>
    <button type="button" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-cell--order-3" onclick="addChoice({{ id }})">
        <i class="material-icons ">add_circle</i> Add
    </button>
    {{> widgetExtra }}
</form>
